* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #3498db;
  font-family: "Poppins", sans-serif;
  color: #f8f9fa;
  min-height: 100vh;
}


header {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  padding-top: 30px;
}


header
 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 20vh;
  gap: 10px;
}


 input,
 button {
  padding: 10px 15px;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  outline: none;
}

 input {
  width: 250px;
}

 button {
  background-color: #2c3e50;
  color: #f8f9fa;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

 button:hover {
  background-color: #1a242f;
  transform: scale(1.05);
}


select {
  border-radius: 12px;
  width: 120px;
  height: 35px;
  font-size: 1rem;
  padding: 5px;
  cursor: pointer;
  outline: none;
  border: none;
  margin-top: 10px;
}


.container {
  width: 90%;
  max-width: 500px;
  min-height: 150px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ecf0f1;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container ul {
  list-style: none;
}

.container ul li {
  color: #2c3e50;
  font-size: 1.1rem;
  padding: 8px 0;
  border-bottom: 1px solid #ccc;
}

/* .delete-btn {
    margin-left: 10px;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
} */
.delete-btn:hover {
    color: red;
}

#resultList li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f9f9f9;
  padding: 8px;
  margin: 5px 0;
  border-radius: 5px;
  list-style: none;
}

.tick {
  margin-right: 10px;
}

.delete-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}